DATABASE_URL=mysql://username:password@host:3306/database
NODE_ENV=development
SECRET=sample
PORT=3000
HOST=http://localhost:3000
MAILER_FROM='"IMFO" <no-reply@imfo.com>'
MAILER_USER=app116886516@heroku.com
MAILER_PASSWORD=xyz123
MAILER_SERVICE=SendGrid
FACEBOOK_APP_ID=fb_app_id
FACEBOOK_APP_SECRET=fb_app_secret
AWS_ACCESS_KEY=aws_access_key
AWS_SECRET_KEY=aws_access_secret
S3_BUCKET=bucket_name
AWS_REGION=aws_region

