extends layout
block content
  form(method='POST')
    .form-visual
      .form-holder
        h1 Forgot Password
        .form-row
          input.form-control.input-field(type='text', name='email', placeholder='Enter Your Email', autofocus)
          span.error Enter a valid email address
        .form-row.btn-row
          button.submit-btn(type="submit") Reset Password
