doctype html
html
  head
    meta(charset="utf-8")
    title IMFO Snap, Search, Discover
    // Le HTML5 shim, for IE6-8 support of HTML5 elements
    //if lt IE 9
      script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")
    //if lt IE 8
      script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")
    //if lt IE 7
      script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")
    // view port
    meta(name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;")
    // main css
    link(href="/css/all.css" rel="stylesheet")
  body.coming-soon
    .content-container
      .insta-logo
        img(src="images/instagram-imfo-logo.png" alt="")
      .logo
        img(src="images/IMFO-Logo.png" alt="")
      .copy-text
        h1 COMING SOON
        h2 We will be here soon!
        p
          | We are currently working on our website.
          br
          | We will be here soon. click on the button to be notified when our site is ready!
