@font-face {
    font-family: 'rundanormal';
    src: url('../fonts/runda_normal-webfont.eot');
    src: url('../fonts/runda_normal-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/runda_normal-webfont.woff2') format('woff2'),
         url('../fonts/runda_normal-webfont.woff') format('woff'),
         url('../fonts/runda_normal-webfont.ttf') format('truetype'),
         url('../fonts/runda_normal-webfont.svg#rundanormal') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'rundabold';
    src: url('../fonts/runda_bold-webfont.eot');
    src: url('../fonts/runda_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/runda_bold-webfont.woff2') format('woff2'),
         url('../fonts/runda_bold-webfont.woff') format('woff'),
         url('../fonts/runda_bold-webfont.ttf') format('truetype'),
         url('../fonts/runda_bold-webfont.svg#rundabold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'rundamedium';
    src: url('../fonts/runda_medium-webfont.eot');
    src: url('../fonts/runda_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/runda_medium-webfont.woff2') format('woff2'),
         url('../fonts/runda_medium-webfont.woff') format('woff'),
         url('../fonts/runda_medium-webfont.ttf') format('truetype'),
         url('../fonts/runda_medium-webfont.svg#rundamedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@import "partials/responsive.scss";
@import "partials/reset.scss";

@import "modules/coming-soon.scss";
@import "modules/forgot-password.scss";




