.top-bar {
    background: #15114b;
    padding: 5px 20px 5px 50px;
    font-size: 27px;
    font-weight: bold;
    font-family: $fontBold;
    color: $white;
    position: relative;
    img {
        width: 30px;
        position: absolute;
        top: 5px;
        left: 15px;
        display: inline-block;
    }
}
.form-visual {
    position: relative;
    padding: 20px 0px;
    @include tablet {
        position: absolute;
        top: 50%;
        left: 0px;
        width: 100%;
        -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    }
}
.form-holder {
    max-width: 750px;
    margin: 0 auto;
    padding: 0 15px;
    h1 {
        font-size: 35px;
        font-family: $fontMedium;
        color: #262626;
        padding: 0px 0 25px;
        margin: 0px;
        font-weight: normal;
        @include tablet {
            font-size: 40px; 
        }
    }
    ul.instructions {
        padding: 0px 0 50px;
        margin: 0px;
        display: block;
        li {
            display: block;
            padding: 0 0 10px 15px;
            color: #697183;
            font-family: $font;
            font-size: 20px;
            position: relative;
            &:before {
                content: "";
                position: absolute;
                top: 6px;
                left: 0px;
                width: 10px;
                height: 10px;
                @include border-radius(50%);
                background: #697183;
            }
        }
    }
}
.form-row {
    padding: 0 0 25px;
    &.btn-row {
        text-align: center;
        padding-top: 30px;
    }
    span.send-again {
        display: block;
        text-align: right;
        a {
            font-family: $font;
            font-size: 17px;
            color: #15114b;
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
            @include tablet {
                font-size: 20px;
            }
        }
    }
    span.error {
        display: block;
        color: red;
        padding: 5px 0px;
    }
}
.input-field {
    width: 100%;
    background: none;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #697183;
    font-family: $font;
    font-size: 22px;
    color: #697183;
    padding: 5px 15px 7px 0px;
    outline: none !important;
    @include placeholder(#697183, 15px);
    &.password {
        font-size: 45px;
        @include placeholder(#697183, 35px);  
    }
    &.error {
        border-bottom: 1px solid red;
        color: red;
        @include placeholder(red, 25px);
    }
}
.submit-btn {
    cursor: pointer;
    background: rgb(63,54,109); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(63,54,109,1) 0%, rgba(45,36,91,1) 1%, rgba(48,39,96,1) 5%, rgba(45,37,96,1) 16%, rgba(36,28,87,1) 49%, rgba(30,25,83,1) 60%, rgba(22,19,76,1) 96%, rgba(19,16,69,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(63,54,109,1) 0%,rgba(45,36,91,1) 1%,rgba(48,39,96,1) 5%,rgba(45,37,96,1) 16%,rgba(36,28,87,1) 49%,rgba(30,25,83,1) 60%,rgba(22,19,76,1) 96%,rgba(19,16,69,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(63,54,109,1) 0%,rgba(45,36,91,1) 1%,rgba(48,39,96,1) 5%,rgba(45,37,96,1) 16%,rgba(36,28,87,1) 49%,rgba(30,25,83,1) 60%,rgba(22,19,76,1) 96%,rgba(19,16,69,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f366d', endColorstr='#131045',GradientType=1 ); /* IE6-9 */
    color: $white;
    font-family: $fontMedium;
    text-align: center;
    padding: 10px 25px;
    font-size: 20px;
    @include border-radius(30px);
    border: 1px solid #16112c;
    @include tablet {
        padding: 15px 60px;
        font-size: 27px;
    }
    &:hover {
        background: rgb(33,29,56); /* Old browsers */
        background: -moz-linear-gradient(left, rgba(33,29,56,1) 0%, rgba(20,16,43,1) 1%, rgba(22,18,45,1) 5%, rgba(21,17,42,1) 7%, rgba(22,18,45,1) 11%, rgba(22,18,45,1) 96%, rgba(20,16,39,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(33,29,56,1) 0%,rgba(20,16,43,1) 1%,rgba(22,18,45,1) 5%,rgba(21,17,42,1) 7%,rgba(22,18,45,1) 11%,rgba(22,18,45,1) 96%,rgba(20,16,39,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(33,29,56,1) 0%,rgba(20,16,43,1) 1%,rgba(22,18,45,1) 5%,rgba(21,17,42,1) 7%,rgba(22,18,45,1) 11%,rgba(22,18,45,1) 96%,rgba(20,16,39,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#211d38', endColorstr='#141027',GradientType=1 ); /* IE6-9 */
        @include transitions(0.5s);
    }
}